/* Permet d'avoir une image en fond d'écran*/
body{
    background-image: url("images/parc-bagatelle.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Couvre la zone du site */
    background-position: center;
   }
   .z1{
    background-color: rgba(228, 150, 90, 0.8);
     border-radius: 25px;
     margin:auto;
     height: auto;
     width: 50em;
     float: center;
   }
   
   .textepresentation{
     margin: 0.2em 0em 0em 0em;
     text-align: center;
     font-size: 4em;
     color:white;
     font-weight: bold;
     font-family: 'OnePlus Slate', sans-serif;
   }
   
  