/* Fond vidéo */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* background-image: url("images/parc-bagatelle.jpg"); --> supprimé */
}

/* Vidéo plein écran */
#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* Zone centrale de contenu */
.milieu {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: relative;
    width: 40%;
}
